__pycache__/
.venv*
*.py[cod]

.ipynb_checkpoints/
.spyderproject/
.spyproject/

build/
dist/
eggs/
*.egg-info/
*.egg
wheels/

*Verknüpfung.lnk

## Large files
Datenblätter/
dependencies/
issues/
tools/

## Wifi credentials { <ap> : <pwd> }
creds.py
